@import 'tailwindcss';

.input-container {
  @apply flex items-center outline-0 text-black dark:outline-white outline-neutral-900 rounded-md bg-white;
}
.input-container:focus {
  @apply outline-2;
}

.input-container > .input {
  outline: 0;
  margin: 0;
  background-color: transparent;
  flex-grow: 1;
}
