@import 'tailwindcss';
.auth-form-container {
  @apply flex justify-center w-full my-2;
}
.auth-form {
  @apply flex flex-col items-center max-w-90 bg-gray-200 rounded-2xl border-2 border-black text-black p-6;
}
.auth-form > * {
  @apply flex flex-col justify-center w-full;
}
.auth-form fieldset input {
  @apply my-2;
}
.auth-form fieldset label {
  @apply text-left;
}
.auth-submit {
  @apply !bg-green-500;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}
