@import 'tailwindcss';

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  gap: 1rem;
}

main {
  padding: 2rem;
  height: 90%;
}
.add-book {
  @apply w-full sm:w-fit border-2 border-neutral-900;
}

.grid-card-container {
  @apply gap-2.5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3;
  grid-auto-rows: 1fr;
  flex: 1 1 0%;
  min-height: 0;
}

.grid-card {
  @apply flex flex-col h-full rounded-2xl p-8 overflow-auto;
  scrollbar-width: thin;
}
