name: Running tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-react:
    runs-on: ubuntu-latest
    container:
      image: node:20
    strategy:
      matrix:
        node-version: [20.x]
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          cache-dependency-path: ./frontend/package-lock.json
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Run vitest
        run: npm run test
  test-flask:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
    defaults:
      run:
        working-directory: ./backend
    env:
      SECRET_KEY: TestingSecret
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run pytest
        run: |
          pytest
